body {
    margin: 0;
    padding-top: 60px; /* Equal to the navbar height */
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

h1, h2, h3 {
    color: #333;
}

.admin-dashboard,
.employee-dashboard,
.login-container {
    padding: 20px;
}
